//- Metas y título
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
title=title
meta(name='description' content=desc)
meta(name='keywords' content=keywords)
meta(name='author' content=author)
meta(name='viewport' content='width=device-width, initial-scale=1')

//- //- Place favicon.ico in the root directory
//- link(rel='apple-touch-icon' href=appleFavicon)
//- link(rel='shortcut icon' href=favicon)

//- CSS
link(rel='stylesheet' href=pathCSS)

//- //- FontAwesome
//- link(rel='stylesheet' href=fontAwesome)

//- //- Greensock
//- script(type='text/javascript' src=tweenMax)
//- script(type='text/javascript' src=timelineMax)